@model dynamic

@{
    ViewBag.Title = "Find a Fund";
}

<div class="row" style="padding-top: 20px;">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <input id="search" class="form-control" placeholder="Search for funds" style="width: 100%; max-width: 100%;" />
            </div>
        </form>
    </div>
</div>
<div id="results" class="row" style="display: none;">
    <div class="col-md-10 col-lg-offset-1">
        <div class="row">
            <div class="col-md-4">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://giving.ucdavis.edu/local_resources/images/areas/icon_caes.gif" alt="CA&ES Fund">
                    </a>
                    <div class="media-body">
                        <a href="@Url.Action("CustomerInfo", "Order")"><h3 class="media-heading">College of Ag</h3></a>
                        The leading college of its kind in the nation, the College of Agricultural and Environmental Sciences addresses agricultural, environmental, and human sciences through cutting-edge research, top-ranked undergraduate and graduate education, and internationally recognized outreach programs.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://giving.ucdavis.edu/local_resources/images/areas/icon_cbs.gif" alt="CA&ES Fund">
                    </a>
                    <div class="media-body">
                        <a href="@Url.Action("CustomerInfo", "Order")"><h3 class="media-heading">College of Biological Sciences</h3></a>
                        The leading college of its kind in the nation, the College of Agricultural and Environmental Sciences addresses agricultural, environmental, and human sciences through cutting-edge research, top-ranked undergraduate and graduate education, and internationally recognized outreach programs.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://giving.ucdavis.edu/local_resources/images/areas/icon_engineering.gif" alt="CA&ES Fund">
                    </a>
                    <div class="media-body">
                        <a href="@Url.Action("CustomerInfo", "Order")"><h3 class="media-heading">College of Engineering</h3></a>
                        The leading college of its kind in the nation, the College of Agricultural and Environmental Sciences addresses agricultural, environmental, and human sciences through cutting-edge research, top-ranked undergraduate and graduate education, and internationally recognized outreach programs.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1>Featured: UC Davis Annual Fund</h1>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://giving.ucdavis.edu/local_resources/images/common/campaign_logo_281.gif" alt="Annual Fund">
        </a>
        <div class="media-body">
            <h3 class="media-heading">UC DAVIS ANNUAL FUND</h3>
            <p>Gifts to the Annual Fund advance the university’s mission in diverse ways, through:</p>
            <ul style="font-size: .75em;">
                <li>Providing scholarships to deserving students, many who are first generation college students</li>
                <li>Attracting and retaining high-caliber faculty, especially those who are early in their careers</li>
                <li>Developing and maintaining innovative academic programs that enrich student life</li>
            </ul>
            <a class="btn btn-success" href="@Url.Action("CustomerInfo", "Order")">Give to the UC Davis Annual Fund &gt;&gt;</a>
        </div>
    </div>
</div>

<h2>Give to a College or School</h2>

<div class="row">
    <div class="col-md-4">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://giving.ucdavis.edu/local_resources/images/areas/icon_caes.gif" alt="CA&ES Fund">
            </a>
            <div class="media-body">
                <a href="@Url.Action("CustomerInfo", "Order")"><h3 class="media-heading">College of Ag</h3></a>
                The leading college of its kind in the nation, the College of Agricultural and Environmental Sciences addresses agricultural, environmental, and human sciences through cutting-edge research, top-ranked undergraduate and graduate education, and internationally recognized outreach programs.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://giving.ucdavis.edu/local_resources/images/areas/icon_cbs.gif" alt="CA&ES Fund">
            </a>
            <div class="media-body">
                <a href="@Url.Action("CustomerInfo", "Order")"><h3 class="media-heading">College of Biological Sciences</h3></a>
                The leading college of its kind in the nation, the College of Agricultural and Environmental Sciences addresses agricultural, environmental, and human sciences through cutting-edge research, top-ranked undergraduate and graduate education, and internationally recognized outreach programs.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://giving.ucdavis.edu/local_resources/images/areas/icon_engineering.gif" alt="CA&ES Fund">
            </a>
            <div class="media-body">
                <a href="@Url.Action("CustomerInfo", "Order")"><h3 class="media-heading">College of Engineering</h3></a>
                The leading college of its kind in the nation, the College of Agricultural and Environmental Sciences addresses agricultural, environmental, and human sciences through cutting-edge research, top-ranked undergraduate and graduate education, and internationally recognized outreach programs.
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://giving.ucdavis.edu/local_resources/images/areas/icon_cls.gif" alt="CA&ES Fund">
            </a>
            <div class="media-body">
                <a href="@Url.Action("CustomerInfo", "Order")"><h3 class="media-heading">College of Letters & Science</h3></a>
                The leading college of its kind in the nation, the College of Agricultural and Environmental Sciences addresses agricultural, environmental, and human sciences through cutting-edge research, top-ranked undergraduate and graduate education, and internationally recognized outreach programs.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://giving.ucdavis.edu/local_resources/images/areas/icon_gsm.gif" alt="CA&ES Fund">
            </a>
            <div class="media-body">
                <a href="@Url.Action("CustomerInfo", "Order")"><h3 class="media-heading">Graduate School of Management</h3></a>
                The leading college of its kind in the nation, the College of Agricultural and Environmental Sciences addresses agricultural, environmental, and human sciences through cutting-edge research, top-ranked undergraduate and graduate education, and internationally recognized outreach programs.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://giving.ucdavis.edu/local_resources/images/areas/icon_law.gif" alt="CA&ES Fund">
            </a>
            <div class="media-body">
                <a href="@Url.Action("CustomerInfo", "Order")"><h3 class="media-heading">Law School</h3></a>
                The leading college of its kind in the nation, the College of Agricultural and Environmental Sciences addresses agricultural, environmental, and human sciences through cutting-edge research, top-ranked undergraduate and graduate education, and internationally recognized outreach programs.
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            var $results = $("#results");
            $('#search').on('keyup', function () {
                if (this.value.length >= 3 && $results.is(":not(:visible)")) {
                    $results.slideDown();
                }

                if (this.value.length < 3 && $results.is(":visible")) {
                    $results.slideUp();
                }
            });
        });
    </script>
}
